.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

/* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
.padding {
  padding: 20px;
}

/* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
.margin {
  margin: 30px;
}

/* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
.border {
  border: 5px;
  border-style: solid;
  border-color: black;
}

h1, p{
  position: relative;
  text-align: center;
}

ol.agrupamentos li:hover{
  background-color: blue;
}

ol.agrupamentos li:active{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.agrupamentos h3:hover{
  border-style: solid;
  border-color: red;
}

.super-mario {
  position: absolute;
  z-index: 1;
  width: 200px;
}

.goomba {
  position: relative;
  z-index: 2;
  width: 100px;
  top: 300px
}

.baloon {
  position: relative;
  z-index: 3;
  left: 500px;
  bottom: 130px;
}

.speach {
  position: relative;
  z-index: 4;
  font-size: 25px;
  color: red;
}

.bowser {
  position: relative;
  z-index: 5;
  width: 200px;
  left: 650px;
  top: 280px;
}
.combinações ol{
  background-color: yellow;
}

.combinações ol li:nth-of-type(odd) {
  text-transform: uppercase;
}

.combinações ol li:nth-of-type(even) {
  color: green;
}

.combinações h1, .combinações h3{
  color: red;
}

.combinações h1 em{
  width: 40px;
  border: solid black 1px;
}

.combinações li{
  width: 20px;
}

.combinações li em{
  font-weight: 700;
}

.linguagens ul li{
  color: blue;
}

.combinações ul li a:hover:nth-of-type(1){
  color: orange;
}

.combinações ul li a:hover:nth-of-type(2){
  color: green;
}

.combinações ul li a:hover:nth-of-type(3){
  color: black;
}

.combinações ul li a:hover:nth-of-type(4){
  color: yellow;
}

.combinações ul li a:hover:nth-of-type(5){
  color: rgb(36, 233, 36);
}
